//
//  Staging.xcconfig
//  PantauBersama
//
//  Created by Hanif Sugiyanto on 15/12/18.
//  Copyright © 2018 PantauBersama. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_VERSION = 1.0
APP_BUILD_VERSION = 10

DISPLAY_NAME = Pantau Bersama Staging
PRODUCT_BUNDLE_IDENTIFIER = com.pantaubersama.staging
// Identitas
// Use for get Token Identitas and callback Pantau
CLIENT_ID = ad68192bfcfe8085492dc82af35e26c8ca92a8d08db9e9d7820e054a849d5add
CLIENT_SECRET = bd09ebed07d20d7b438d96d7f8507922b25511887781740bbbb7ddb9a1055469
REDIRECT_URI = pantaubersama.staging:/\/\oauth
DOMAIN_SYMBOLIC = https:/\/\identitas.extrainteger.com
URL_IDENTIFIER = pantaubersama.staging
URL_SCHEMES = pantaubersama.staging
// Pantau Auth
// Use for Refresh Token and Revoke
CLIENT_ID_AUTH = 5940ec97cf73967c5df108871443df0a58b5c2510004f9f70e959f29ced11e25
CLIENT_SECRET_AUTH = bb431e39758118d64416a110b31c3c9c8667f9dc664527d0b0133e87ec5946e0
// API URL Staging
URL_API_PEMILU = https:\/\/staging-pemilu.pantaubersama.com
URL_API_AUTH = https:/\/\staging-auth.pantaubersama.com
URL_API_IDENTITAS = https:/\/\identitas.extrainteger.com
// Consumer key and secret twitter
KEY_TWITTER = gnWWCXI8Ki255KFtEyWcIcYrh
SECRET_TWITTER = qQroOfVy6IIg6yr6s3cIResqI6w9EYqRz6cO1KoS9iWibQgXyR
TWITTER_SCHEME = twitterkit-gnWWCXI8Ki255KFtEyWcIcYrh
CALLBACK_TWITTER = pantaubersama.staging
// Facebook
FACEBOOK_SCHEME = fb487265651802954
FACEBOOK_ID = 487265651802954
FACEBOOK_DISPLAY_NAME = Pantau Bersama Staging
// Pantau FAQ and Komunitas
FAQ_PANTAU = https:/\/\pantaubersama.faq.extrainteger.com/\
COMMUNITY_PANTAU = https:/\/\pantaubersama.faq.extrainteger.com/\5
// URL itms
APP_STORE_URL = itms-apps:/\/\itunes.apple.com/app/id1448203130
