<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL_SCHEMES</key>
	<string>$(URL_SCHEMES)</string>
	<key>COMMUNITY_PANTAU</key>
	<string>$(COMMUNITY_PANTAU)</string>
	<key>FAQ_PANTAU</key>
	<string>$(FAQ_PANTAU)</string>
	<key>FacebookAppID</key>
	<string>$(FACEBOOK_ID)</string>
	<key>FacebookDisplayName</key>
	<string>$(FACEBOOK_DISPLAY_NAME)</string>
	<key>FACEBOOK_DISPLAY_NAME</key>
	<string>$(FACEBOOK_DISPLAY_NAME)</string>
	<key>FACEBOOK_ID</key>
	<string>$(FACEBOOK_ID)</string>
	<key>FACEBOOK_SCHEME</key>
	<string>$(FACEBOOK_SCHEME)</string>
	<key>SECRET_TWITTER</key>
	<string>$(SECRET_TWITTER)</string>
	<key>KEY_TWITTER</key>
	<string>$(KEY_TWITTER)</string>
	<key>TWITTER_SCHEME</key>
	<string>$(TWITTER_SCHEME)</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Pantau Bersama memerlukan akses pustaka foto untuk melakukan proses input verifikasi serta mengganti profile gambar</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(APP_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(URL_SCHEMES)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(TWITTER_SCHEME)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(FACEBOOK_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string></string>
		<string>twitter</string>
		<string>twitterauth</string>
		<string>fbauth2</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbshareextension</string>
	</array>
	<key>CFBundleVersion</key>
	<string>$(APP_BUILD_VERSION)</string>
	<key>CLIENT_ID</key>
	<string>$(CLIENT_ID)</string>
	<key>CLIENT_ID_AUTH</key>
	<string>$(CLIENT_ID_AUTH)</string>
	<key>CLIENT_SECRET</key>
	<string>$(CLIENT_SECRET)</string>
	<key>CLIENT_SECRET_AUTH</key>
	<string>$(CLIENT_SECRET_AUTH)</string>
	<key>DOMAIN_SYMBOLIC</key>
	<string>$(DOMAIN_SYMBOLIC)</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>536361816a0d2006ea747cdd456218543609b7d7</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>example.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Pantau Bersama memerlukan akses camera untuk melakukan proses input verifikasi</string>
	<key>REDIRECT_URI</key>
	<string>$(REDIRECT_URI)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Lato-Black.ttf</string>
		<string>Lato-BlackItalic.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-BoldItalic.ttf</string>
		<string>Lato-Hairline.ttf</string>
		<string>Lato-HairlineItalic.ttf</string>
		<string>Lato-Italic.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>BwModelicaSS01-BoldCondensed.otf</string>
		<string>BwModelica-BlackCondensed.otf</string>
		<string>BwModelica-ThinCondensed.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>URL_API_AUTH</key>
	<string>$(URL_API_AUTH)</string>
	<key>URL_API_IDENTITAS</key>
	<string>$(URL_API_IDENTITAS)</string>
	<key>URL_API_PEMILU</key>
	<string>$(URL_API_PEMILU)</string>
</dict>
</plist>
